<div style="height: 123px">
    <footer class="footer footer-white gg-division">
        <div class="container">
            <a class="footer-brand" href="http://your.gg">GGtics & HanGyeol</a>
            <ul class="pull-center">
                <li>
                    <a href="https://blog.naver.com/loldoc">
                        Blog
                    </a>
                </li>
                <li class="gg-text-normal">
                    <a href="mailto:support@ggtics.com">
                        Contact
                    </a>
                </li>
            </ul>
            <ul class="social-buttons float-right">
                <li>
                    <a href="https://www.facebook.com/GGticsGlobal" target="_blank"
                       class="btn btn-just-icon btn-link btn-dribbble">
                        <i class="fa fa-dribbble"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>

    <div class="card card-profile gg-footer-riot">
        <div class="card-body gg-sub-description">
            GGtics isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone
            officially involved in producing or managing League of Legends. League of Legends and Riot Games are
            trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
        </div>
    </div>
</div>