<meta charset="UTF-8">
<meta name="page" content="DuoRequest">
<title>YOUR.GG-TEST</title>
<link rel="shortcut icon" href="/static/media/favicon.ico"/>
<meta name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0,shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<meta name="google-play-app" content="app-id=com.ggtics.app.lol">
<meta name="naver-site-verification" content="296b960f2481bfdd2c36ba85fef082faf27afb42"/>
<!--부트스트랩-->
<link href="/static/css/bootstrap.css?q=20190917" rel="stylesheet"/>
<link type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
      rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"/>
<link href="/static/css/custom-bootstrap.css?q=15743279771496" rel="stylesheet"/>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<!--<script async src="//get.optad360.io/sf/4a41ac0e-9d0e-42ab-86e3-207f15b6cbe4/plugin.min.js"></script>-->

<meta property="og:title" content="YOUR.GG">
<meta property="og:image" content="/v4/media/yourgg-600x315.png">
<meta property="og:description" content="리그 오브 레전드, 게이밍 프로필, 실제 실력 및 팀운, 경기 상세 분석, 유어지지, 유얼지지, yourgg">
<meta property="og:locale" content="ko_KR">
<meta property="og:url" content="//your.gg/">
<meta property="og:type" content="game.achievement">
<meta name="keywords"
      content="리그 오브 레전드, 게이밍 프로필, 실제 실력 및 팀운, 경기 상세 분석, 유어지지, 유얼지지, yourgg, your.gg, yourgg, 유어지지, 유얼지지">
<meta name="description"
      content="리그 오브 레전드, 게이밍 프로필, 실제 실력 및 팀운, 경기 상세 분석, 유어지지, 유얼지지, yourgg, your.gg, yourgg, 유어지지, 유얼지지">
<link rel="shortcut icon" type="image/x-icon" href="/v4/media/yourgg-70x70.png" />
<link rel="apple-touch-icon-precomposed" href="/v4/media/yourgg-70x70.png"/>

