<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>YOUR.GG</title>
</head>
<body>
<div class="main-content-wrapper">
    <div class="content-create-area">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="content-title">
                    <h2>게시물 읽기</h2>
                </div>

                <form method="post" action="/kr/board/posts">
                    <div class="row">
                        <h4>제목</h4>
                        <div>
                            <h4 id="title" th:text="${board.title}"></h4>
                        </div>
                        <div>
                            <h6>내용</h6>
                        </div>
                        <div th:text="${board.content}"></div>
                    </div>

                    <div>
                        <a class="content-update" href="/">수정</a>
                    </div>

                    <form class="form-delete" th:action="'/kr/board/posts/'+${board.no}" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit">삭제</button>
                    </form>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>