<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>YOUR.GG</title>
</head>
<body>
    <div class="main-content-wrapper">
        <div class="content-create-area">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="content-title">
                        <h2>게시물 작성</h2>
                    </div>

                    <form method="post" th:action="'/kr/board/posts/'+${board.no}">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="row">
                            <h4>제목</h4>
                            <div>
                                <input type="text" class="form-control" id="title" name="title"
                                       placeholder="제목을 입력 하세요." th:value="${board.title}">
                            </div>
                            <div>
                                <h6>글쓰기</h6>
                                <textarea name="content" class="form-control" id="content" cols="30" rows="10"
                                          placeholder="내용을 입력해 주세요." th:text="${board.content}"></textarea>
                            </div>
                        </div>

                        <div class="btn" align="right">
                            <button type="submit" class="btn">update</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>