<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 헤더 인클루드 -->
    <th:block th:replace="include/include_head"></th:block>

    <link rel="canonical" href="//your.gg/kr/duo/request"/>
    <link rel="alternate" hreflang="x-default" href="//your.gg/kr/duo/request">
    <link rel="alternate" hreflang="en-us" href="//your.gg/kr/duo/request?lang=en">
    <link rel="alternate" hreflang="ko-kr" href="//your.gg/kr/duo/request?lang=ko">
    <link rel="alternate" hreflang="ja" href="//your.gg/kr/duo/request?lang=ja">

</head>
<body>
<!--모달 어느부분인지 아직 확인 불가능-->
<div class="modal" tabindex="-1" role="dialog" data-keyboard="false">
    <div class="mt-0 modal-dialog modal-dialog-centered justify-content-center" role="document">
        <span class="fa fa-spinner fa-spin fa-3x"></span>
    </div>
</div>

<!--상단 보라색 설문 네비게이션-->
<div class="alert alert-primary mb-2">
    <div class="container text-left">
        <div class="d-flex align-items-center">
            <div class="alert-icon">
                <i class="material-icons">info_outline</i>
            </div>
            <div>
                <a href="https://forms.gle/FF5FfweHXRTLT7Kz7" target="_blank">프리미엄 서비스 설문조사</a>
            </div>
        </div>
    </div>
</div>

<!--듀오검색 및 신청 기능 네비게이션-->
<nav class="navbar navbar-expand-lg bg-white mb-0 pb-0 pt-0">
    <div class="container-fluid">
        <div class="navbar-translate">
            <a class="gg-navbar-brand" href="/">

                <img class="logo-image" src="/static/img/yourgg-logo.png"/><sup><i class="gg-text-bold">Beta</i></sup>

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse bg-white px-0 px-lg-2">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/kr/duo/search" class="nav-link pl-2 pl-lg-0">
                        <i class="material-icons py-1">search</i>
                        듀오 검색
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/kr/duo/request" class="nav-link pl-2">
                        <i class="material-icons py-1">edit</i>
                        듀오 신청
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/kr/duo/request" class="nav-link pl-2">
                        <i class="material-icons py-1">sports_kabaddi</i>
                        영웅 밸런스 토론장
                    </a>
                </li>
            </ul>

            <form id="globalNavigationForm" class="navbar-nav form-inline ml-auto">
                <div class="form-group col-lg-auto p-0 m-0 mb-lg-2 mr-lg-2" style="z-index: 2">
                    <select class="form-control selectpicker my-0" data-style="btn btn-link rounded-0" id="langSelect">

                        <option value="ko" selected>한국어</option>

                        <option value="ja">日本語</option>

                        <option value="en">English</option>

                        <option value="es">español</option>

                    </select>
                </div>


                <div class="form-group col-lg-auto p-0 m-0 mb-lg-2" style="z-index: 1">
                    <select class="form-control selectpicker my-0" data-style="btn btn-link rounded-0"
                            id="regionSelect">

                        <option value="br">BR</option>

                        <option value="lan">LAN</option>

                        <option value="las">LAS</option>

                        <option value="oce">OCE</option>

                        <option value="na">NA</option>

                        <option value="eune">EUNE</option>

                        <option value="euw">EUW</option>

                        <option value="ru">RU</option>

                        <option value="tr">TR</option>

                        <option value="jp">JP</option>

                        <option value="kr" selected>KR</option>

                    </select>
                </div>
                <div class="form-group col-lg-auto p-0 m-0 bmd-form-group mb-lg-2">
                    <input id="globalNavigationSummonerNameText" type="text" class="form-control w-100"
                           placeholder="Search Summoner">
                </div>
                <button id="globalNavigationSearchButton" type="button"
                        class="btn btn-raised btn-fab btn-round my-2 my-lg-0">
                    <i class="material-icons">search</i>
                </button>

            </form>
        </div>
    </div>
</nav>

<!--기여자 항목 레이아웃-->
<div class="row no-gutters gg-box gg-text-normal">
    <div class="col-9">
    </div>
    <div class="col-3 d-flex align-items-center justify-content-end pr-2">
        <i class="material-icons py-1 gg-text-normal pr-1">people</i>
        <a href="/kr/guide/contributor" class="text-secondary">기여자</a>
    </div>
</div>

<!--메인 컨테이너 div / 메인 광고바의 자연스러운 색을 위해 흰색 배경색 지정-->
<div class="container-fluid gg-text-normal bg-white">
    <div class="row gg-division">
        <div class="col-lg-2 bg-white"></div>
        <div class="col-12 col-lg-8">
            <div class="row gg-box">
                <!--제목-->
                <div class="col-12 px-0">
                    <div class="gg-large-box-title col-12 px-0 d-flex align-items-center justify-content-start">
                        <div><i class="material-icons">menu_book</i></div>
                        <div class="px-2 gg-important-text" id="title2" th:text="${board.title}+' | 영웅 밸런스 토론'"></div>
                    </div>
                </div>
                <!--작성자-->
                <div class="col-12 px-0 mt-3">
                    <div class="input-group border-0" id="writer" th:name="writer" th:text="${board.writer}">
                    </div>
                </div>
                <!--내용-->
                <div class="col-12 px-0">
                    <div class="input-group" id="content" name="content" th:text="${board.content}">

                    </div>
                </div>

                <form class="form-delete col-12 px-0 bg-white" th:action="'/kr/board/posts/'+${board.no}" method="post">
                    <div>
                        <a id="PreviousBtn" class="btn btn-info rounded-0" href="/kr/board">목록</a>
                        <a id="contentUpdateBtn" class="btn btn-info rounded-0"
                           th:href="'/kr/board/posts/'+${board.no}+'/revision'">수정</a>
                        <input type="hidden" name="_method" value="DELETE">
                        <button id="contentDeleteBtn" type="submit" class="btn btn-info rounded-0">삭제</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-2 bg-white"></div>
        <div class="gg-thin-line my-2"></div>
    </div>

    <!--댓글 컨테이너-->
    <div class="row gg-division">
        <div class="col-lg-2 bg-white"></div>
        <div class="col-12 col-lg-8">
            <div class="row gg-box">
                <div class="col-12 px-0">
                    <div class="gg-large-box-title col-12 px-0 d-flex align-items-center justify-content-start">
                        <div><i class="material-icons">insert_comment</i></div>
                        <div class="px-2">댓글</div>
                    </div>
                </div>

                <div id="commentArea" class="col-12 collapse commentArea">
                    <!--duoRequestArea 고치면 작동안됨-->
                    <div id="duoRequestArea" class="col-12 px-0 gg-request-areas duoRequestArea commentTitle">
                        <!--댓글로 사용할 아이템, 댓글 추가하면 주석 사이의 div가 추가 됨.-->
                        <th:block th:each="comment:${commentList}">
                            <!--삭제하면 commentBox 범위의 article이 삭제됨-->
                            <article class="commentBox">
                                <div class="d-flex flex-column w-100 gg-action p-2">
                                    <div id="commentContentDiv" th:name="commentContentDiv"
                                         class="d-flex gg-duo-request-text text-secondary text-left py-2 commentContentDiv">
                                        내용
                                    </div>
                                    <!--commentContent 가 textarea의 name-->
                                    <textarea id="commentContentTextarea" name="commentContentUpdate"
                                              style="display: none"
                                              class="form-control mr-0 commentContentTextarea" maxlength="200" rows="2"
                                              placeholder="200자 이내 내용" required th:text="내용"></textarea>

                                    <div class="d-flex gg-text-large justify-content-end pt-2">
                                        <div><i class="material-icons gg-text-large">person</i>
                                            <span class="gg-text-normal-color">유저명</span>
                                        </div>
                                        <div class="px-2"></div>
                                        <div><i class="material-icons gg-text-large">alarm_on</i>등록 시간</div>
                                        <div class="px-2"></div>
                                        <div><a class="commentUpdateBtn" th:value="'{0}'" style="display: inline">
                                            <i class="material-icons gg-text-large">edit</i>수정</a></div>

                                        <div><a class="commentUpdateComplateBtn" th:value="'{0}'" style="display: none"
                                                th:href="'/kr/api/board/posts/'+${board.no}+'/comment/{0}'"><i
                                                class="material-icons gg-text-large">edit</i>완료</a></div>

                                        <div class="px-2"></div>
                                        <div><a class="commentDeleteBtn" style="display: inline"
                                                th:href="'/kr/api/board/posts/'+${board.no}+'/comment/{0}'"><i
                                                class="material-icons gg-text-large">delete</i>삭제</a></div>

                                        <div><a class="commentCancelBtn" style="display: none"><i
                                                class="material-icons gg-text-large">delete</i>취소</a></div>
                                    </div>
                                </div>
                                <div class="gg-thin-line my-2"></div>
                            </article>
                        </th:block>
                    </div>
                    <!--댓글 아이템 끝-->
                </div>
                <!--댓글 작성 폼-->
                <div id="commentResiterArea" class="col-12 px-0 mb-4">
                    <form id="commentForm" class="commentCreate" method="post"
                          th:action="'/kr/api/board/posts/'+${board.no}">
                        <div class="col-12 px-0">
                            <div class="input-group">
                                <textarea id="commentContent" name="commentContent" form="commentForm"
                                          th:value="comment"
                                          class="form-control mr-2" maxlength="200" rows="2"
                                          placeholder="200자 이내 내용" required></textarea>
                                <button id="commentCreateBtn" type="submit" data-next-page="2"
                                        class="btn btn-info rounded-0 ">댓글등록
                                </button>
                                <div class="invalid-feedback">내용을 입력해주세요.</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 bg-white"></div>
</div>

<!--메인 광고바-->
<div class="row ad">
    <div class="col-lg-12 ml-0 mr-0 pl-0 pr-0">
        <div class="pt-2 text-center">
            <div style="margin-left:20.5px;margin-right: 20.5px; margin-bottom: 20.5px;">
                <ins class="adsbygoogle"
                     style="display: block; width: 970px; height: 250px;"
                     data-ad-client="ca-pub-7895542192161438"
                     data-ad-slot="3087166954"
                     data-full-width-responsive="true">
                    <img src="/static/img/main_advertisement.png">

                </ins>
            </div>
        </div>
    </div>
</div>
</div>

<!--댓글 작성 시 Ajax로 추가되는 Area-->
<script type="text/template" id="commentCreateTemplate">
    <!--삭제하면 commentBox 범위의 article이 삭제됨-->
    <article id="commentBox">
        <div class="d-flex flex-column w-100 gg-action p-2 commentItem">
            <div id="commentContentDiv{0}" th:name="commentContentDiv"
                 class="d-flex gg-duo-request-text text-secondary text-left py-2 commentContentDiv">
                {2}
            </div>
            <!--commentContent 가 textarea의 name-->
            <textarea id="commentContentTextarea{0}" name="commentContentUpdate"
                      style="display: none"
                      class="form-control mr-0 commentContentTextarea"  maxlength="200" rows="2"
                      placeholder="200자 이내 내용" required th:text="내용"></textarea>

            <div class="d-flex gg-text-large justify-content-end pt-2">
                <div><i class="material-icons gg-text-large">person</i>
                    <span class="gg-text-normal-color">{4}</span>
                </div>
                <div class="px-2"></div>
                <div><i class="material-icons gg-text-large">alarm_on</i>{3}</div>
                <div class="px-2"></div>
                <div><a class="commentUpdateBtn" th:value="'{0}'" style="display: inline">
                     <i class="material-icons gg-text-large">edit</i>수정</a></div>

                <div><a class="commentUpdateComplateBtn" th:value="'{0}'" style="display: none"
                        th:href="'/kr/api/board/posts/'+${board.no}+'/comment/{0}'"><i
                        class="material-icons gg-text-large">edit</i>완료</a></div>

                <div class="px-2"></div>
                <div><a class="commentDeleteBtn" style="display: inline"
                        th:href="'/kr/api/board/posts/'+${board.no}+'/comment/{0}'"><i
                        class="material-icons gg-text-large">delete</i>삭제</a></div>

                <div><a class="commentCancelBtn" style="display: none"><i
                        class="material-icons gg-text-large">delete</i>취소</a></div>
            </div>
        </div>
        <div class="gg-thin-line my-2"></div>
    </article>
</script>

<script>

</script>

<!--푸터 div-->
<th:block th:replace="include/include_footer"></th:block>
<!--푸터 div 끝-->

<!--어디에 쓰이는 모달인지 모르겠음-->
<div class="modal" tabindex="-1" role="dialog" data-keyboard="false">
    <div class="mt-0 modal-dialog modal-dialog-centered justify-content-center" role="document">
        <span class="fa fa-spinner fa-spin fa-3x"></span>
    </div>
</div>

<!--자바스크립트-->
<script src="/static/js/comment_controller_ajax.js"></script>
<script src="https://s3-ap-northeast-1.amazonaws.com/ggtics-static/material-pro/assets/js/core/jquery.min.js"
        type="text/javascript"></script>
<script src="https://s3-ap-northeast-1.amazonaws.com/ggtics-static/material-pro/assets/js/core/popper.min.js"
        type="text/javascript"></script>
<script src="https://s3-ap-northeast-1.amazonaws.com/ggtics-static/material-pro/assets/js/core/bootstrap-material-design.min.js"
        type="text/javascript"></script>
<script src="https://s3-ap-northeast-1.amazonaws.com/ggtics-static/material-pro/assets/js/material-kit.min.js?v=2.1.1"
        type="text/javascript"></script>
<script src="https://s3-ap-northeast-1.amazonaws.com/ggtics-static/material-pro/assets/js/plugins/bootstrap-selectpicker.js"
        type="text/javascript"></script>
<!--<script src="/v4/js/pack.js?q=1574421682825" type="text/javascript"></script>-->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-72139051-3"></script>

<!--페이지뷰 단위 측정하는 자바스크립트로 추정-->
<script type="text/javascript">
    var page = 'DuoRequest';
    window.dataLayer = window.dataLayer || [];
</script>


<!--캐시 기능인듯 -->
<script type="text/javascript">
    var duoRequestListClientCacheKey = "duoRequestList";
    var queryString = '';

    var duoRequestList = window.sessionStorage.getItem(duoRequestListClientCacheKey);
    if (duoRequestList) {
        $('#commentArea').html(duoRequestList);
        window.sessionStorage.removeItem(duoRequestListClientCacheKey);
    }

    $("#commentArea").show();

    // $(window).on("load", function () {
    //     $("form").submit(function (e) {
    //         var formValidity = this.checkValidity();
    //         if (formValidity) {
    //             var summonerNameInput = $("#duoRequestSummonerNameText");
    //             // var checkUrl = urlPrefix + "/profile/namecheck/" + summonerNameInput.val();
    //             $.ajax({
    //                 url: checkUrl, success: function (result) {
    //                     showModal();
    //                     summonerNameInput.addClass("is-valid")
    //                     summonerNameInput.removeClass("is-invalid")
    //                     $.ajax({
    //                         type: "POST",
    //                         url: urlPrefix + "/duo/request",
    //                         data: {
    //                             mc: $("#duoRequestMatchCategorySelect").val(),
    //                             l: $("#duoRequestLaneSelect").val(),
    //                             e: $("#duoRequestExpirationSelect").val(),
    //                             n: $("#duoRequestSummonerNameText").val(),
    //                             d: $("#duoRequestDescText").val(),
    //                             v: $("#duoRequestVoiceCheck").prop("checked")
    //                         },
    //                         success: function (result) {
    //                             interaction("Submit-DuoRequest");
    //                             location.reload();
    //                         },
    //                         error: function (rresult) {
    //                             hideModal();
    //                         }
    //                     });
    //                 }, error: function (result) {
    //                     summonerNameInput.removeClass("is-valid")
    //                     summonerNameInput.addClass("is-invalid")
    //                 }
    //             });
    //
    //         }
    //
    //         e.preventDefault();
    //         e.stopPropagation();
    //     });
    //
    //     $(".gg-request-areas").on("click", function (e) {
    //         var target = $(e.target);
    //         var listItem = target.closest(".gg-action");
    //         var link = listItem.data("href");
    //         var event = listItem.data("event");
    //         if (event != undefined) {
    //             interaction("Link-" + event);
    //         }
    //         if (link != undefined) {
    //             window.sessionStorage.setItem(duoRequestListClientCacheKey, $("#commentArea").html());
    //             location.href = link;
    //             e.stopPropagation();
    //         }
    //     });
    //
    //     $("#duoRequestSearchBtn").on("click", function () {
    //         interaction("Search-DuoRequest")
    //         var matchCategory = $("#duoRequestListMatchCategorySelect").val();
    //         var tier = $("#duoRequestListTierSelect").val();
    //         var lane = $("#duoRequestListLaneSelect").val();
    //
    //         var url = urlPrefix + "/duo/request?more=true&mc=" + matchCategory + "&t=" + tier + "&l=" + lane;
    //         showModal();
    //         $.ajax({
    //             url: url, success: function (result) {
    //                 $("#duoRequestMoreBtn").data("next-page", "1");
    //                 var area = $("#duoRequestArea");
    //                 area.empty();
    //                 area.append(result);
    //                 hideModal();
    //             }, error: function (result) {
    //                 alert(commonError);
    //                 hideModal();
    //             }
    //         });
    //     });
    //
    //     $("#duoRequestMoreBtn").on("click", function () {
    //         interaction("More-DuoRequest")
    //         var matchCategory = $("#duoRequestListMatchCategorySelect").val();
    //         var tier = $("#duoRequestListTierSelect").val();
    //         var lane = $("#duoRequestListLaneSelect").val();
    //
    //         var page = $(this).data("next-page");
    //         var url = urlPrefix + "/duo/request?more=true&p=" + page + "&mc=" + matchCategory + "&t=" + tier + "&l=" + lane;
    //         var that = $(this);
    //         if (queryString != "") url = url + "&" + queryString;
    //         showModal();
    //         $.ajax({
    //             url: url, success: function (result) {
    //                 that.data("next-page", parseInt(that.data("next-page")) + 1);
    //                 $("#duoRequestArea").append(result)
    //                 hideModal();
    //             }, error: function (result) {
    //                 alert(commonError);
    //                 hideModal();
    //             }
    //         });
    //     });
    // });
</script>
</body>
</html>